:root {
	--body-margin: 10px;
	--border-radius: 8px;
	--document-bgcolor: rgba(255, 255, 255, 0.2);
}

html,
body {
	min-height: 100%;
	height: auto;
}
body {
	background-image: url(../asset/cool-background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Noto Serif", serif;
	font-family: "Roboto Condensed", sans-serif;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1000px;
}
.banner {
	text-align: center;
}
.banner__title {
	font-size: 4em;
	height: 40px;
	line-height: 40px;
	color: #fcedd8;
	font-family: "Niconne", cursive;
	font-weight: 700;
	text-shadow: 5px 5px 0px #eb452b;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
.control-panel {
	margin-bottom: 2em;
	padding: 16px;
	width: auto;
	border-radius: var(--border-radius);
	background-color: rgba(255, 255, 255, 0.2);
	list-style: none;
	display: flex;
	justify-content: center;
}
.create-button {
	background: linear-gradient(#e66465, #9198e5);
	color: #fff;
	border: none;
	border-radius: var(--border-radius);
	position: relative;
	height: 50px;
	font-family: "Noto Serif", serif;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.1em;
	padding: 0 2em;
	margin: 0 0.4em;
	text-transform: uppercase;
	cursor: pointer;
	transition: 200ms ease-in all;
	outline: none;
}
.create-button:hover {
	background: linear-gradient(#e66465, #9198e5);
	transform: scale(1.1);
	color: white;
}
.create-button:before,
.create-button:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: white;
	transition: 200ms ease-in all;
}
.create-button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.create-button:hover:before,
.create-button:hover:after {
	width: 100%;
	transition: 400ms ease-in all;
}
.document {
	border-radius: var(--border-radius);
	background-color: var(--document-bgcolor);
	width: 90%;
	height: 100%;
	min-height: 30em;
	overflow-y: auto;
	/* Firefox */
	scrollbar-width: 6px;
	scrollbar-color: gray;
	scrollbar-face-color: lightgray;
}
.document::--webkit-scrollbar {
	/* Safari and Chrome */
	background-color: gray;
	width: 6px;
}
.document::-webkit-scrollbar-thumb {
	/* Safari and Chrome */
	background-color: lightgray;
}
.page-item {
	list-style: none;
}
.footer {
	border-radius: var(--border-radius);
	background-color: rgba(3, 3, 3, 0.279);
	margin: 1em 0;
	width: 90%;
	height: auto;
	text-align: center;
	color: white;
	font-size: 1rem;
}
.contact {
	display: flex;
	justify-content: center;
}
.footer a:link,
a:visited {
	color: white;
	font-size: 1.5em;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: all 200ms ease-in;
}

a:hover,
a:active {
	transform: scale(1.3);
}
